<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/main.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/font-circle-video.css" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper thank-you-page mt-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xs-12 col-sm-12">
                    <h1>Merci pour votre message !</h1>
                    <p>Nous avons bien reçu votre message et vous répondrons dans les plus brefs délais.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
